{%extends "base.html"%}
{% block title %}
    Horários da Paróquia | {{ block.super }}
{% endblock %}


{% block container %}
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
    <div class="row">
          <div class="col-md-12">

        <table style="width:100%">
          {% for missa in listaMissa%}
            <tr>
              <th>Local</th>
            <th>{{missa.diaSemana}}</th>
          </tr>

            <tr>
            <td>{{missa.localMissa}}</td>
            <td>{{missa.horarioMissa}}</td>
          </tr>
          {% endfor  %}
        </table>

    </div>

{% endblock %}