
<!DOCTYPE html>
{% load static %}

<html lang="pt">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">

		<title>{% block title %}Santa Rita de Cassia{% endblock %}</title>

		<!-- Loading third party fonts -->
		<link href="{% static 'assets/fonts/novecento-font/novecento-font.css'%}" rel="stylesheet" type="text/css">
		<link href="{% static 'assets/fonts/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

		<!-- Loading main css file -->
		<link rel="stylesheet" href="{% static 'assets/style.css' %}">

		<!--[if lt IE 9]>
		<script src="{% static 'assets/js/ie-support/html5.js' %}"></script>
		<script src="{% static 'assets/js/ie-support/respond.js' %}"></script>
		<![endif]-->

	</head>


	<body>
		<div class="site-content">
			<header class="site-header">
				<div class="container">
					<a href="#" class="branding">
						<img src="{% static 'assets/img/banner.jpg' %}" height="250" width="800" alt="" class="logo">
					</a>

					<div class="main-navigation">
						<button class="menu-toggle"><i class="fa fa-bars"></i> Menu</button>
						<ul class="menu">
							<li class="menu-item current-menu-item"><a href="{% url 'index' %}">Inicio <small>Do site</small></a></li>
							<li class="menu-item"><a href="#">Arquediocese <small>de Palmas</small></a></li>
							<li class="menu-item"><a href="seremons.html">Historia de Santa Rita <small>Laboris nisi aliquip</small></a></li>
							<li class="menu-item"><a href="{% url 'noticias:EventosListView' %}">Eventos<small>paróquial e diocessano</small></a></li>
							<li class="menu-item"><a href="{% url 'horarioMissa:horariosMissa'%}">Horarios  <small>de missas e atendimentos</small></a></li>
							<li class="menu-item"><a href="{% url 'fotos:album1' %}">Galeria <small>Fotos de eventos</small></a></li>
							<li class="menu-item"><a href="#">Contact <small>lorem ipsum</small></a></li>
						</ul>
					</div>

					<div class="mobile-navigation"></div>
				</div>
			</header> <!-- .site-header -->


			<main class="main-content">
				<div class="fullwidth-block">
					<div class="container">
					{% block container %} {% endblock %}
					</div> <!-- .container -->
				</div> <!-- section -->




			</main> <!-- .main-content -->

			<footer class="site-footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4">
							<div class="widget">
								<h3 class="widget-title">Endereço</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi perspiciatis magnam, ab ipsa laboriosam tempore tenetur, aliquid repellat, ex cum dicta reiciendis accusamus. Omnis repudiandae quasi mollitia, iusto odio dignissimos.</p>
								<ul class="address">
									<li><i class="fa fa-map-marker"></i> Rua Rio Branco, Quadra 11, Lote 26,
																				CEP 77270-000 Palmas, TO, Brazil</li>
									<li><i class="fa fa-phone"></i> (63) xxxx-xxxx</li>
									<li><i class="fa fa-envelope"></i> santarita.palmas@hotmail.com</li>
								</ul>
							</div>
						</div>
						<div class="col-md-4">
							<div class="widget">
								<iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FGO-Arcanjos-1578267249138157%2F&tabs=timeline&width=360&height=150&small_header=true&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=962048220616088" width="360" height="150" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
							</div>
						</div>
						<div class="col-md-4">
							<div class="widget">
								<h3 class="widget-title">Contato</h3>
								<form action="#" class="contact-form">
									<div class="row">
										<div class="col-md-6"><input type="text" placeholder="Seu nome..."></div>
										<div class="col-md-6"><input type="text" placeholder="Email..."></div>
									</div>

									<textarea name="" placeholder="Sua mensagem..."></textarea>
									<div class="text-right"><input type="submit" value="Send message"></div>

								</form>
							</div>
						</div>
					</div> <!-- .row -->

					<p class="colophon">Copyright 2014 True Church. All right reserved</p>
				</div><!-- .container -->
			</footer> <!-- .site-footer -->

		</div>


		<script src="{% static 'assets/js/jquery-1.11.1.min.js' %}"></script>
		<script src="{% static 'assets/js/plugins.js' %}"></script>
		<script src="{%static 'assets/js/app.js' %}"></script>

	</body>

</html>