{% extends "base.html" %}
{% load static %}
{% block container %}

	{%comment%}
	Inicio da parte de destaques (slide)
	{%endcomment%}
	<div class="hero">
				<div class="slides">
					{% for destaque in ftsDestaques%}
					<li data-bg-image="{{destaque.banner.url}}">
							{%comment%}
								<div class="container">
									<div class="slide-content">
										<small class="slide-subtitle">True Church</small>
										<h2 class="slide-title">Place with a real love</h2>
									</div>
								</div>
							{%endcomment%}
					</li>
					{%endfor%}
				</div>
	</div>
	{%comment%}
	Fim dos destaques (slide)
	{%endcomment%}


				{%comment%}
				 Parte de eventos
				{%endcomment%}
				<div class="fullwidth-block">


					<div class="container">
						<div class="row">
							{%comment%}
								Eventos paroquiais
							{%endcomment%}
							<div class="col-md-6">
								<h2 class="section-title">Próximos eventos</h2>
								<ul class="event-list">
									{% for evento in eventos%}

									<li>
										<a href="#">
											<h3 class="event-title">{{ evento.tituloNoticia }}</h3>
											<span class="event-meta">
												<span><i class="fa fa-calendar"></i>{{evento.data}}</span>
												<span><i class="fa fa-map-marker"></i> {{evento.paroquia}}</span>

											</span>
										</a>
									</li>
									{%endfor%}
								</ul>

								<div class="text-center">
									<a href="#" class="button">Outros eventos</a>
								</div>
							</div>


							{%comment%}
								Notícias
							{%endcomment%}

							<div class="col-md-6">
								<h2 class="section-title">Últimas noticias</h2>
								<ul class="seremon-list">
									{%for notica in noticias%}
									<li>
										<img src="{{notica.banner.url}}" width="61" height="61" alt="">
										<div class="seremon-detail">
											<h3 class="seremon-title"><a href="#">{{notica.nomeEvento}}</a></h3>
											<div class="seremon-meta">
												<div class="pastor"><i class="fa fa-user"></i> Alan Ray</div>
												<div class="date"><i class="fa fa-calendar"></i> {{notica.data}}}</div>
											</div>
										</div>
									</li>
									{%endfor%}
								</ul>

								<div class="text-center">
									<a href="#" class="button">Outras notícias</a>
								</div>
							</div>
						</div> <!-- .row -->
					</div> <!-- .container -->
				</div>
{% endblock %}